aws_profile                = "your-aws-profile-name"
aws_region                 = "your-preferred-region"
az_count                   = "number-of-availability-zones"
docker_image_api_account   = "your-dockerhub-username/api-account:latest"
docker_image_api_inventory = "your-dockerhub-username/api-inventory:latest"
docker_image_api_shopping  = "your-dockerhub-username/api-shopping:latest"
docker_image_store_web     = "your-dockerhub-username/store-web:latest"
environment                = "your-environment"
prefix                     = "your-tag-prefix"
project                    = "your-project-name"
subnet_newbits             = "12"
vpc_cidr_block             = "your-vpc-cidr-block"